* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #fbfbfb;
}
.buttom a {
    text-decoration: underline;
    color: #7F43E1;
}

.card {
    background-color: #0f112e;
    padding: 30px;
    border-radius: 40px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    color: #fbfbfb;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
}

input{
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: none;
    color: #fbfbfb;
    background-color: #2c264d;
    padding-left: 10px;
    box-sizing: border-box;
}

::placeholder {
    color: #fbfbfb;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #7F43E1;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

button p {
    font-size: 16px;
    color: #fbfbfb;
}

/* style edit user */

.top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
}

.btnExit img{
    width: 30px;
}

.btnExit {
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: #7F43E1;
    border-radius: 8px;
    padding: 3px 5px;
    cursor: pointer;

}
